MONGODB_URI=mongodb://localhost:27017/Multi-Clinic-Management-SaaS
NODE_ENV=development

AUTH_SECRET=your auth secret here

AUTH_GOOGLE_ID=your google id here
AUTH_GOOGLE_SECRET=your google secret here